@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: #FAF0E6; /* Dark background color */
  color: #800000; /* White text color */
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  background-image: linear-gradient(#800000, #800000);
  width: 100%;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fffff0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.page-header * {
  background-color: transparent;
}

.header-app-description {
  margin-right: 2.5%;
  font-size: smaller;
}

.page-header h2 {
  padding-left: 3%;
}

.page-header a {
  color: var(--headerTextColor);
}

.header-logo {
  display: flex;
  align-items: center;
  padding-left: 2.5%;
}

.reg-link {
  color: #34495e;
  text-decoration: none;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Ensure it covers the full height */
  /*background-image: url('images/anime-city-scape.jpg'); /* Replace with your image path */
  background-color: #500000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-form {
  background: rgba(148, 0, 0, 0.9); /* Dark semi-transparent background for the form */
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px; /* Ensure the form does not overflow */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.login-form div {
  width: 100%;
  margin-bottom: 20px;
}

.login-form label {
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
  color: #fffff0; /* Light grey color for labels */
  text-align: left;
}

.login-form input {
  width: 100%;
  padding: 15px;
  border: 1px solid #444;
  border-radius: 4px;
  font-size: 16px;
  background: #faf0e6; /* Dark background for input fields */
  color: #800000; /* White text color */
  box-sizing: border-box; /* Ensure padding does not overflow the input */
}

.login-form input::placeholder {
  color: #800000; /* Placeholder color */
}

.login-form button {
  width: 100%; /* Full width for the button */
  padding: 15px; /* Equal padding for uniformity */
  background-color: #ffae00; /* Bold red color for the button */
  border: none;
  border-radius: 10px; /* Rounded corners */
  color: #800000;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin-top: 20px; /* Margin on top */
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #ffe60097; /* Darker red on hover */
}

.error-msg {
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  color: #e94560; /* Match error message color with button */
}

.login-form a, .sign-link {
  color: #ffd700;
  font-size: 14px;
  text-decoration: none;
  width: 100%;
}

.login-form a {
  font-weight: bold;
  margin-left: 5px;
}

@media only screen and (max-width: 600px) {
  .login-container {
    height: 75vh;
  }

  .login-form {
    padding: 20px 15px;
    margin-left: 5%;
    margin-right: 5%;
  }
}


/* Styling for habit card */

.habit-card {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 12px 0;
  max-width: 600px; /* Wider card */
  display: flex;
  flex-direction: column;
}

.habit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.habit-title {
  color: #000;
  font-size: 18px;
  margin: 0;
}

.delete-habit {
  background: none;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
  font-weight: normal;
}

.delete-habit:hover {
  color: #999;
  transform: scale(1.1);
}

.habit-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.habit-description {
  font-size: 14px;
  margin: 0;
  color: #666;
  flex: 2;
}

.habit-type {
  font-size: 13px;
  color: #333;
  margin: 0 64px 0 16px;
  flex: 1;
}

.habit-checkbox {
  margin-left: auto;
}
